Code/Test/SmartPresenter.Services.Test/Service References/CloudSyncServiceReference/CloudSyncService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CloudSyncService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:45610/Services/CloudSyncService.svc?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:45610/Services/CloudSyncService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:45610/Services/CloudSyncService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LibraryStreamData">
    <wsdl:part name="parameters" element="tns:LibraryStreamData" />
  </wsdl:message>
  <wsdl:message name="LibraryStreamData_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="LibraryId" element="tns:LibraryId" />
    <wsdl:part name="UserAccountId" element="tns:UserAccountId" />
    <wsdl:part name="UserProfileId" element="tns:UserProfileId" />
  </wsdl:message>
  <wsdl:portType name="ICloudSyncService">
    <wsdl:operation name="DownloadDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudSyncService/DownloadDocument" name="LibraryStreamData" message="tns:LibraryStreamData" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudSyncService/DownloadDocumentResponse" name="LibraryStreamData" message="tns:LibraryStreamData" />
    </wsdl:operation>
    <wsdl:operation name="UploadDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudSyncService/UploadDocument" name="LibraryStreamData" message="tns:LibraryStreamData" />
    </wsdl:operation>
    <wsdl:operation name="UploadImageFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudSyncService/UploadImageFile" name="LibraryStreamData" message="tns:LibraryStreamData" />
    </wsdl:operation>
    <wsdl:operation name="DownloadImageFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudSyncService/DownloadImageFile" name="LibraryStreamData" message="tns:LibraryStreamData" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudSyncService/DownloadImageFileResponse" name="LibraryStreamData" message="tns:LibraryStreamData" />
    </wsdl:operation>
    <wsdl:operation name="UploadAudioFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudSyncService/UploadAudioFile" name="LibraryStreamData" message="tns:LibraryStreamData" />
    </wsdl:operation>
    <wsdl:operation name="DownloadAudioFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudSyncService/DownloadAudioFile" name="LibraryStreamData" message="tns:LibraryStreamData" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudSyncService/DownloadAudioFileResponse" name="LibraryStreamData" message="tns:LibraryStreamData" />
    </wsdl:operation>
    <wsdl:operation name="UploadVideoFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudSyncService/UploadVideoFile" name="LibraryStreamData" message="tns:LibraryStreamData" />
    </wsdl:operation>
    <wsdl:operation name="DownloadVideoFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudSyncService/DownloadVideoFile" name="LibraryStreamData" message="tns:LibraryStreamData" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudSyncService/DownloadVideoFileResponse" name="LibraryStreamData" message="tns:LibraryStreamData" />
    </wsdl:operation>
    <wsdl:operation name="UploadSettingsFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudSyncService/UploadSettingsFile" name="LibraryStreamData" message="tns:LibraryStreamData" />
    </wsdl:operation>
    <wsdl:operation name="DownloadSettingsFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudSyncService/DownloadSettingsFile" name="LibraryStreamData" message="tns:LibraryStreamData" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudSyncService/DownloadSettingsFileResponse" name="LibraryStreamData" message="tns:LibraryStreamData" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICloudSyncService" type="tns:ICloudSyncService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadDocument">
      <soap:operation soapAction="http://tempuri.org/ICloudSyncService/DownloadDocument" style="document" />
      <wsdl:input name="LibraryStreamData">
        <soap:header message="tns:LibraryStreamData_Headers" part="FileName" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="LibraryId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserAccountId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserProfileId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="LibraryStreamData">
        <soap:header message="tns:LibraryStreamData_Headers" part="FileName" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="LibraryId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserAccountId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserProfileId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDocument">
      <soap:operation soapAction="http://tempuri.org/ICloudSyncService/UploadDocument" style="document" />
      <wsdl:input name="LibraryStreamData">
        <soap:header message="tns:LibraryStreamData_Headers" part="FileName" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="LibraryId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserAccountId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserProfileId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UploadImageFile">
      <soap:operation soapAction="http://tempuri.org/ICloudSyncService/UploadImageFile" style="document" />
      <wsdl:input name="LibraryStreamData">
        <soap:header message="tns:LibraryStreamData_Headers" part="FileName" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="LibraryId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserAccountId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserProfileId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DownloadImageFile">
      <soap:operation soapAction="http://tempuri.org/ICloudSyncService/DownloadImageFile" style="document" />
      <wsdl:input name="LibraryStreamData">
        <soap:header message="tns:LibraryStreamData_Headers" part="FileName" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="LibraryId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserAccountId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserProfileId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="LibraryStreamData">
        <soap:header message="tns:LibraryStreamData_Headers" part="FileName" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="LibraryId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserAccountId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserProfileId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadAudioFile">
      <soap:operation soapAction="http://tempuri.org/ICloudSyncService/UploadAudioFile" style="document" />
      <wsdl:input name="LibraryStreamData">
        <soap:header message="tns:LibraryStreamData_Headers" part="FileName" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="LibraryId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserAccountId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserProfileId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DownloadAudioFile">
      <soap:operation soapAction="http://tempuri.org/ICloudSyncService/DownloadAudioFile" style="document" />
      <wsdl:input name="LibraryStreamData">
        <soap:header message="tns:LibraryStreamData_Headers" part="FileName" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="LibraryId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserAccountId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserProfileId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="LibraryStreamData">
        <soap:header message="tns:LibraryStreamData_Headers" part="FileName" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="LibraryId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserAccountId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserProfileId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadVideoFile">
      <soap:operation soapAction="http://tempuri.org/ICloudSyncService/UploadVideoFile" style="document" />
      <wsdl:input name="LibraryStreamData">
        <soap:header message="tns:LibraryStreamData_Headers" part="FileName" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="LibraryId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserAccountId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserProfileId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DownloadVideoFile">
      <soap:operation soapAction="http://tempuri.org/ICloudSyncService/DownloadVideoFile" style="document" />
      <wsdl:input name="LibraryStreamData">
        <soap:header message="tns:LibraryStreamData_Headers" part="FileName" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="LibraryId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserAccountId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserProfileId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="LibraryStreamData">
        <soap:header message="tns:LibraryStreamData_Headers" part="FileName" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="LibraryId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserAccountId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserProfileId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSettingsFile">
      <soap:operation soapAction="http://tempuri.org/ICloudSyncService/UploadSettingsFile" style="document" />
      <wsdl:input name="LibraryStreamData">
        <soap:header message="tns:LibraryStreamData_Headers" part="FileName" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="LibraryId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserAccountId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserProfileId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DownloadSettingsFile">
      <soap:operation soapAction="http://tempuri.org/ICloudSyncService/DownloadSettingsFile" style="document" />
      <wsdl:input name="LibraryStreamData">
        <soap:header message="tns:LibraryStreamData_Headers" part="FileName" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="LibraryId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserAccountId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserProfileId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="LibraryStreamData">
        <soap:header message="tns:LibraryStreamData_Headers" part="FileName" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="LibraryId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserAccountId" use="literal" />
        <soap:header message="tns:LibraryStreamData_Headers" part="UserProfileId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CloudSyncService">
    <wsdl:port name="BasicHttpBinding_ICloudSyncService" binding="tns:BasicHttpBinding_ICloudSyncService">
      <soap:address location="http://localhost:45610/Services/CloudSyncService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>