Code/Test/SmartPresenter.Services.Test/Service References/CloudSyncServiceReference/CloudSyncService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45610/Services/CloudSyncService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:45610/Services/CloudSyncService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="LibraryStreamData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="ByteStream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" name="LibraryId" type="q2:guid" />
  <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" name="UserAccountId" type="q3:guid" />
  <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" name="UserProfileId" type="q4:guid" />
</xs:schema>