Code/Service Layer/Cloud/Sync/SmartPresenter.Service.CloudSync/Service References/CloudStorageServiceReference/CloudSyncService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CloudSyncService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:45610/CloudSyncService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:45610/CloudSyncService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:45610/CloudSyncService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICloudSyncService_Download_InputMessage">
    <wsdl:part name="parameters" element="tns:Download" />
  </wsdl:message>
  <wsdl:message name="ICloudSyncService_Download_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadResponse" />
  </wsdl:message>
  <wsdl:message name="StreamData">
    <wsdl:part name="parameters" element="tns:StreamData" />
  </wsdl:message>
  <wsdl:message name="StreamData_Headers">
    <wsdl:part name="Path" element="tns:Path" />
  </wsdl:message>
  <wsdl:message name="ICloudSyncService_QueueLibraryDocumentUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:QueueLibraryDocumentUpload" />
  </wsdl:message>
  <wsdl:message name="ICloudSyncService_QueueLibraryDocumentUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueueLibraryDocumentUploadResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudSyncService_QueueLibraryDocumentDownload_InputMessage">
    <wsdl:part name="parameters" element="tns:QueueLibraryDocumentDownload" />
  </wsdl:message>
  <wsdl:message name="ICloudSyncService_QueueLibraryDocumentDownload_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueueLibraryDocumentDownloadResponse" />
  </wsdl:message>
  <wsdl:portType name="ICloudSyncService">
    <wsdl:operation name="Download">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudSyncService/Download" message="tns:ICloudSyncService_Download_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudSyncService/DownloadResponse" message="tns:ICloudSyncService_Download_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Upload">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudSyncService/Upload" name="StreamData" message="tns:StreamData" />
    </wsdl:operation>
    <wsdl:operation name="QueueLibraryDocumentUpload">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudSyncService/QueueLibraryDocumentUpload" message="tns:ICloudSyncService_QueueLibraryDocumentUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudSyncService/QueueLibraryDocumentUploadResponse" message="tns:ICloudSyncService_QueueLibraryDocumentUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueueLibraryDocumentDownload">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudSyncService/QueueLibraryDocumentDownload" message="tns:ICloudSyncService_QueueLibraryDocumentDownload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudSyncService/QueueLibraryDocumentDownloadResponse" message="tns:ICloudSyncService_QueueLibraryDocumentDownload_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICloudSyncService" type="tns:ICloudSyncService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Download">
      <soap:operation soapAction="http://tempuri.org/ICloudSyncService/Download" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upload">
      <soap:operation soapAction="http://tempuri.org/ICloudSyncService/Upload" style="document" />
      <wsdl:input name="StreamData">
        <soap:header message="tns:StreamData_Headers" part="Path" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="QueueLibraryDocumentUpload">
      <soap:operation soapAction="http://tempuri.org/ICloudSyncService/QueueLibraryDocumentUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueueLibraryDocumentDownload">
      <soap:operation soapAction="http://tempuri.org/ICloudSyncService/QueueLibraryDocumentDownload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CloudSyncService">
    <wsdl:port name="BasicHttpBinding_ICloudSyncService" binding="tns:BasicHttpBinding_ICloudSyncService">
      <soap:address location="http://localhost:45610/CloudSyncService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>