Code/UI Layer/SmartPresenter.UI.Web/Service References/CloudDBServiceReference/CloudDBService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45610/Services/CloudDBService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmartPresenter.Service.CloudSyncService" />
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmartPresenter.Service.CloudSyncService" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q1:ArrayOfUserAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmartPresenter.Service.CloudSyncService" minOccurs="0" name="userAccount" nillable="true" type="q2:UserAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmartPresenter.Service.CloudSyncService" minOccurs="0" name="userAccount" nillable="true" type="q3:UserAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmartPresenter.Service.CloudSyncService" minOccurs="0" name="userAccount" nillable="true" type="q4:UserAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>